<div class="main-container">
    <div class="editar-container">
      <div class="py-2 text-center">
        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Editar formulario</h2>
        <p class="lead">Actualizar información/versión del formulario {{formulario.nombre}} </p>
      </div>
    
      <!-- ERRORES Y MENSAJES -->
      <div *ngIf="success" class="alert alert-success" role="alert">
        {{success}}
      </div>
      <div *ngIf="error" class="alert alert-danger" role="alert">
        {{error}}
      </div>
    
      <!-- DOCUMENTO
      <div class="row mb-2">
        
        <div class="col-lg-6">
          FORMULARIO
          <form ngNativeValidate [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="card border-warning mb-3" >
              <div class="card-header">Archivo</div>
              <div class="card-body text-warning">
                    
                <h6 class="card-title"><small>{{formulario.nombre}}</small></h6>
                <p class="card-text">{{formulario.descripcion}}</p>
          
                <div class="custom-file">
                  <input type="file" name="documento" class="custom-file-input" (change)="onFileChange($event)" id="customFile" required>
                  <label #file_label class="custom-file-label" for="customFile">Escoger documento</label>
                </div>
              </div>
          
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><small>Creado: {{formulario.createdAt}}</small></li>
                <li class="list-group-item"><small>Actualizado: {{formulario.updatedAt}}</small></li>
              </ul>
              <div class="card-body">
                <button type="submit" class="btn btn-sm btn-success ml-2">Subir</button>
              </div>
            </div>
          </form>
    
        </div> -->
    
        <!-- DESCRIPCIÓN -->
          <div class="card flex-md-row mb-4 box-shadow ">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Descripción del documento</strong>
              <h3 class="mb-0">Actualizar descripción</h3>
    
              <form class="formulario" ngNativeValidate [formGroup]="form_desc" (ngSubmit)="onSubmitDesc()">
    
                <div class="form-group">
                  <label class="custom-label" for="descripcionTextArea">Nota para informar al cliente la función o uso de este documento</label> 
                  <p><small>"{{formulario.descripcion}}"</small></p>
                  <textarea class="form-control mt-2" formControlName="descripcion" id="descripcionTextArea" placeholder="Inserte descripción del documento" rows="5"></textarea>
                </div>
                <button [disabled]="form_desc.pristine" type="submit" class="btn btn-primary btn-sm btn-block mt-1">Actualizar descipción</button>
              </form>
    
          </div>
        </div>
    </div>
    
  
  </div>