<div class="main-container">
    <div *ngIf="!mostrar_form_matriz" class="container-profile-title">
        <i class="fas fa-tasks profile-icono"></i>
        <h5>Permisos de usuario: <b>{{esta_matriz.nombre | titlecase }}</b> sobre la matriz de comunicación de cliente <b>{{esta_matriz.nombre_empresa}} - {{version_matriz}}</b></h5>
    </div>
    <p *ngIf="!mostrar_form_matriz">Seleccione las casillas para <b>habilitar</b> o <b>remover</b> los permisos que este usuario tendrá sobre la matriz de comunicación de {{esta_matriz.nombre_empresa}} {{version_matriz}}.</p>
    <app-tabla-matriz *ngIf="!mostrar_form_matriz" (emitir_privilegios)="recibirPrivilegiosActualizados($event)" [events]="eventsSubject.asObservable()"
    [disable_checkbox]="disable_checkbox"></app-tabla-matriz>

    <!-- <div class="main-container-notificaciones">
        <div class="container-notificaciones">
            <i class="fas fa-exclamation alert-icon"></i><b>Privilegios de usuario modificados en la base de datos.</b>
        </div>
    </div> -->
    
    <div class="container-eliminar-usuario" *ngIf="renovar">
        <h4>Renovar Matriz de comunicación de {{esta_matriz.nombre_empresa}} para {{esta_matriz.nombre | titlecase }} - año {{actual_year+1}} <i class="fas fa-user-edit"></i></h4>
        <!-- <ul>
            <li><p><i class="fas fa-exclamation-triangle list-warning"></i> Al remover este usuario de la matriz de comunicación, se deshabilita su acceso al portal IDC.</p></li>
            <li><p><i class="fas fa-exclamation-triangle list-warning"></i> Las cuentas deshabilitadas no podrán iniciar sesión en el portal, pero conservarán todos sus datos y privilegios en la base de datos.</p></li>
            <li><p><i class="fas fa-exclamation-triangle list-warning"></i> Para volver a habilitar una cuenta de usuario, contacte con personal del datacenter.</p></li>
        </ul> -->
        <button class="btn-mostrar-form_matriz" *ngIf="!mostrar_form_matriz" type="button" (click)="mostrarFormularioRenovar()">Renovar matriz de {{esta_matriz.nombre | titlecase }} para el año {{actual_year+1}}</button>

        <form *ngIf="mostrar_form_matriz" [formGroup]="actualizarMatrizForm" (ngSubmit)="onSubmitRenovarMatriz()">
            <div class="contenedor-principal-matriz">
                <div class="contenedor-matriz">
                  <div class="form-row">
                    <div class="col-md-12">
                      <h5 for="">Permisos de usuario sobre la matríz de comunicación</h5>
                      <label for="link">Link del formulario de matriz de comunicación </label>
                    </div>
                  </div>
        
                  <!-- tabla matriz -->
    
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <div class="error-container">
                          <div *ngIf="actualizarMatrizForm.controls['link'].errors?.required" class="form-control-feedback">
                            El link del formulario para la matriz de comunicación {{actual_year+1}} es requerido.
                          </div>
                        </div>
                        <input type="text" class="form-control" formControlName="link" placeholder="Si no lleva formulario, escribir: N/A">
                      </div>
                    </div>
                    
          
                    <div class="form-row">
                      <table>
                          <thead>
                              <tr>
                                  <th colspan="3">Solicitud de permiso</th>
                                  <th rowspan="2">Manos remotas *</th>
                                  <th colspan="3">Notificación de alertas</th>
                              </tr>
                              <tr>
                                  <th>Solicitar</th>
                                  <th>Actualizar</th>
                                  <th>Eliminar</th>
                      
                                  <th>Baja</th>
                                  <th>Media</th>
                                  <th>Alta</th>
                              </tr>
              
                          </thead>
              
                          <tbody>
                              <tr>
                                  <td>
                                      <input type="checkbox" formControlName="solicitar_acceso">
                                  </td>
                                  <td>
                                      <input type="checkbox" formControlName="actualizar_acceso" >
                                  </td>
                                  <td>
                                      <input type="checkbox" formControlName="eliminar_acceso" >
                                  </td>
                                  <td>
                                      <input type="checkbox" formControlName="manos_remotas" >
                                  </td>
                                  <td>
                                      <input type="checkbox" formControlName="alertas_baja" >
                                  </td>
                                  <td>
                                      <input type="checkbox" formControlName="alertas_media" >
                                  </td>
                                  <td>
                                      <input type="checkbox" formControlName="alertas_alta" >
                                  </td>
                              </tr>
                              
                          </tbody>
                      </table>
              
                      <div class="form-group">
                          <div class="form-check">
                          <input class="form-check-input" formControlName="editar_matriz" type="checkbox">
                          <label class="form-check-label alert-danger" for="editar_matriz">
                              ¿Permitir a este usuario editar la matríz de comunicación?
                          </label>
                          </div>
                      </div>
                    </div>
              
                </div> 
              </div>
              <div class="form-group">
                <button [disabled]="!actualizarMatrizForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Crear matriz {{actual_year+1}} para {{esta_matriz.nombre | titlecase }}</button>
              </div>
        </form>
        
    </div>
    
    <div class="div-button-volver">
        <button type="button" class="volver-btn" (click)="volver()"><i class="fas fa-long-arrow-alt-left"></i> Volver a la matriz de comunicación</button>
    </div>
</div>