<div class="container-top">
    <div class="container-logo">
        <img src="../../../../../assets/img/cwb_logo.png" alt="cwb.logo">
    </div>

    <div class="container-leyenda">
        <div class="container-titulo">
            <h5>International Data Center</h5>
            <h5>Control de Registro</h5>
            <h5>Matriz de comunicación</h5>
        </div>
        <div class="container-descripcion">
            <p>Sección de matriz de comunicación. Muestra el listado de personal de la empresa <b>{{nombre_empresa}}</b> y los privilegios asociados para solicitar
                Editar, o eliminar accesos, o solicitar manos remotas.</p>
        </div>
        <div class="container-version">
            <!-- <div class="form-group col-md-9">
                <a [hidden]="proyecto == null" class="btn btn-warning" [routerLink]="['/camdc',proyecto]">Actualizar Matriz Actual de {{nombre_empresa}}</a>
            </div> -->
            <!-- ESCOGER VERSIÓN DE LA MATRIZ -->
            <div class="form-group col-md-1.5">
                <h6><b>Fecha matriz:</b></h6>
            </div>
            <div class="form-group col-md-3">
                <select [disabled]="!usuarios || usuarios < 1" id="version" class="form-control" (change)="getVersion($event)">
                    <option *ngFor="let version of versiones_matriz" value="{{version.version}}">{{version.version | date:'yyyy/MM/dd'}}</option>
                </select>
            </div>

        </div>
    </div>
</div>

<div class="container-datos">
    <div class="container-datos-titulo">
        Datos del solicitante
    </div>
    <div class="container-datos-main">
        <div class="container-datos-main-izq"><b>Compañía</b></div>
        <div class="container-datos-main-der"><p>{{nombre_empresa}}</p></div>
    </div>
</div>

<h6 class="h6_detalle_personal">Detalle del personal:</h6>
<div class="container-lista">

    <table class="tabla-detalles">
        <tr class="tabla-detalles-tr">
          <th class="tabla-detalles-th">Nombre</th>
          <th class="tabla-detalles-th">Cargo</th>
          <th class="tabla-detalles-th">Teléfono</th>
          <th class="tabla-detalles-th">Celular</th>
          <th class="tabla-detalles-th">Email</th>
        </tr>
        <tr *ngFor="let usuario of usuarios" class="tabla-detalles-tr">
          <td class="tabla-detalles-td">{{usuario.nombre}} {{usuario.apellido}}</td>
          <td class="tabla-detalles-td">{{usuario.cargo}}</td>
          <td class="tabla-detalles-td">{{usuario.telefono}}</td>
          <td class="tabla-detalles-td">{{usuario.celular}}</td>
          <td class="tabla-detalles-td">{{usuario.correo}}</td>
        </tr>
        
      </table>
</div>

<div class="container-enlaces">
    <hr>
    <a class="agregar-link" *ngIf="editar_matriz" [routerLink]="['/matrizadd']">Agregar personal <i class="fas fa-plus"></i></a>
</div>

<div class="container-tabla-matriz">
    <table>
        <thead>
            <tr>
                <th rowspan="2">Nombre</th>
                <th colspan="3">Solicitud de permiso</th>
                <th rowspan="2">Manos remotas *</th>
                <th colspan="3">Notificación de alertas</th>
                <th rowspan="2">Edit. Matriz</th>
                <th rowspan="2">Fecha Matriz</th>
            </tr>
            <tr>
                <th>Solicitar</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
    
                <th>Baja</th>
                <th>Media</th>
                <th>Alta</th>
            </tr>
            <!-- <tr>
                <th>Tabla Avanzada 2</th>
                <th>Cabecera Múltiples Columnas</th>
            </tr> -->
        </thead>
        <!-- <tfoot>
            <tr>
                <td colspan="4">Pie de tabla.</td>
            </tr>
        </tfoot> -->
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <th class="table-names">{{usuario.nombre}} {{usuario.apellido}} <a class="edit-link"  [routerLink]="['/editar',usuario.version,usuario.idproyecto,usuario.idusuario]">Editar <i class="far fa-edit"></i></a></th>
                <td>
                    <input *ngIf="usuario.solicitar_acceso" type="checkbox" value="{{usuario.solicitar_acceso}}" checked disabled>
                    <input *ngIf="!usuario.solicitar_acceso" type="checkbox" value="{{usuario.solicitar_acceso}}" disabled>
                </td>
                <td>
                    <input *ngIf="usuario.actualizar_acceso" type="checkbox" value="{{usuario.actualizar_acceso}}" checked disabled>
                    <input *ngIf="!usuario.actualizar_acceso" type="checkbox" value="{{usuario.actualizar_acceso}}" disabled>
                </td>
                <td>
                    <input *ngIf="usuario.eliminar_acceso" type="checkbox" value="{{usuario.eliminar_acceso}}" checked disabled>
                    <input *ngIf="!usuario.eliminar_acceso" type="checkbox" value="{{usuario.eliminar_acceso}}" disabled>
                </td>
                <td>
                    <input *ngIf="usuario.manos_remotas" type="checkbox" value="{{usuario.manos_remotas}}" checked disabled>
                    <input *ngIf="!usuario.manos_remotas" type="checkbox" value="{{usuario.manos_remotas}}" disabled>
                </td>
                <td>
                    <input *ngIf="usuario.alertas_baja" type="checkbox" value="{{usuario.alertas_baja}}" checked disabled>
                    <input *ngIf="!usuario.alertas_baja" type="checkbox" value="{{usuario.alertas_baja}}" disabled>
                </td>
                <td>
                    <input *ngIf="usuario.alertas_media" type="checkbox" value="{{usuario.alertas_media}}" checked disabled>
                    <input *ngIf="!usuario.alertas_media" type="checkbox" value="{{usuario.alertas_media}}" disabled>
                </td>
                <td>
                    <input *ngIf="usuario.alertas_alta" type="checkbox" value="{{usuario.alertas_alta}}" checked disabled>
                    <input *ngIf="!usuario.alertas_alta" type="checkbox" value="{{usuario.alertas_alta}}" disabled>
                </td>
                <td>
                    <h5 *ngIf="usuario.editar_matriz" class="h5-editar-matriz">SI</h5>
                    <h5 *ngIf="!usuario.editar_matriz">NO</h5>
                    <!-- <input *ngIf="usuario.editar_matriz" type="checkbox" value="{{usuario.editar_matriz}}" checked disabled> -->
                    <!-- <input *ngIf="!usuario.editar_matriz" type="checkbox" value="{{usuario.editar_matriz}}" disabled> -->
                </td>
                <td>
                    <a class="link-version" (click)="redirect(usuario.link_formulario)">{{usuario.version | date:'yyyy/MM/dd'}}</a>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
