.main-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    /* padding: 1%; */
    color: #7f95c2;

    width:85%;
    height: 100%;
    z-index: -1;
}

.container-componente{
    width: 100%;
}